# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Node / PHP Dependencies
# -----------------------------
node_modules
vendor

# -----------------------------
# Environment
# -----------------------------
.env

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# DevOps / CI-CD Files (NOT needed in container)
# -----------------------------
.github
infrastructure/
lambda_zips/
layer/
pymysql-layer.zip

# -----------------------------
# Docs
# -----------------------------
docs/
README.md

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db