# -----------------------------
# System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Node / PHP Dependencies
# -----------------------------
node_modules/
vendor/

# -----------------------------
# Git (safety)
# -----------------------------
.git

# -----------------------------
# Build Artifacts (IMPORTANT 🔥)
# -----------------------------
layer/
lambda_zips/
pymysql-layer.zip

# -----------------------------
# Docker / Local Files
# -----------------------------
docker/*.tar
docker-compose.yml

# -----------------------------
# Docs
# -----------------------------
docs/
README.md